{% set journeyId = craft.app.request.getQueryParam("journeyId") %}
{% set taskId = craft.app.request.getQueryParam("taskId") %}

<html>
	<head>
		<title>{{ siteName }}</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap" rel="stylesheet">
		{% do view.registerAssetBundle("fablevision\\netlogo\\assetbundles\\CSSBundle") %}
	</head>
	{% set requestedPath = craft.app.request.pathInfo() %}
	<body>
		<div class="container">
			{% include "netlogo/navBar.twig" %}
            <div class="menu-page-content">
                {% set about = craft.entries()
                    .section('about')
                    .one()%}
                {% if requestedPath is same as('about') %}
                    {% if about.heroTitle %}
                        <div class="about-hero">
                            <img id="about-hero-image" src="{{ about.heroImage.one().url }}" style="opacity:{{ about.heroImageOpacity }}%"/>
                            <h1 class="dark-shadow">{{ about.heroTitle }}</h1>
                            {{ about.heroBody }}
                            <div class="scrolldown-wrapper">
                                <div class="scrolldown"></div>
                            </div>
                        </div>
                    {% endif %}
                    {% for section in about.menuPageSections.all() %}
                        <div class="section-container">
                            <h3 class="light-shadow">{{ section.sectionTitle }}</h3>
                            {% switch section.type %}
                                {% case "textImageSection" %}
                                    <div class="about-flex">
                                        <div class="about-text {{ (section.sectionLayout == "textImage") ? "about-flex-left" : "about-flex-right" }}">
                                            {{ section.sectionText }}
                                        </div>
                                        <div class="about-image-container {{ (section.sectionLayout == "textImage") ? "about-flex-right" : "about-flex-left" }}">
                                            <img class="about-section-image" src="{{ section.sectionImage.one().url }}"/>
                                        </div>
                                    </div>
                                {% case "textVideoSection" %}
                                    <div class="about-flex">
                                        <div class="about-text {{ (section.sectionLayout == "textImage") ? "about-flex-left" : "about-flex-right" }}">
                                            {{ section.sectionText }}
                                        </div>
                                        <div class="about-image-container {{ (section.sectionLayout == "textImage") ? "about-flex-right" : "about-flex-left" }}">
                                            <iframe src="{{ section.sectionVideoUrl }}" class="about-section-image" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                {% case "imageSection" %}
                                    <img class="about-section-image" src="{{ section.sectionImage.one().url }}"/>
                                {% case "videoSection" %}
                                    <iframe src="{{ section.sectionVideoUrl }}" class="about-section-image" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                                {% case "textSection" %}
                                    <div class="about-text">
                                        {{ section.sectionText }}
                                    </div>
                            {% endswitch %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
			{% include "netlogo/footer.twig" %}
        </div>
	</body>
</html>

