{% set csrfTokenName = craft.app.config.general.csrfTokenName %}
{% set csrfToken = craft.app.request.csrfToken %}
{% set journeyId = craft.app.request.getQueryParam("journeyId") %}
{% set taskId = craft.app.request.getQueryParam("taskId") %}
{% set exampleId = craft.app.request.getQueryParam("exampleId") %}
{% set info = craft.netlogo.getExampleContent(journeyId, exampleId) %}
{% set imagePath = view.getAssetManager().getPublishedUrl('@fablevision/netlogo/assetbundles/simulation/img', true) %}
<html>
    <head>
        <title>{{ siteName }}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap"
            rel="stylesheet">
        <script>
            var __SERVICE_URL__ = "{{ actionUrl('netlogo/default/') }}";
            var __CSRF_TOKEN_NAME__ = "{{ csrfTokenName }}";
            var __CSRF_TOKEN__ = "{{ csrfToken }}";
            var __JOURNEY_ID__ = {{ journeyId ?? "0" }};
            var __EXAMPLE_CONTENT__ = JSON.parse("{{ info|json_encode|e('js') }}");
            {% if currentUser %}
            var __USER_ID__ = {{ currentUser.id }};
            var __USER__ = "{{ currentUser.username }}";
            {% endif %}
            var __IMAGE_URL__ = "{{ imagePath }}";
        </script>
        <script src="https://kit.fontawesome.com/8476c81704.js" crossorigin="anonymous"></script>
        {% do view.registerAssetBundle("fablevision\\netlogo\\assetbundles\\CSSBundle") %}
        {% do view.registerAssetBundle("fablevision\\netlogo\\assetbundles\\SimulationBundle") %}
        VueGoesHere
    </head>
    <body>
        <div class="container">
            {% include "netlogo/navBar.twig" %}
            {# ALL EXAMPLE PAGE #}
            {% if not journeyId and not exampleId %}
            <div class="example-journeys">
                <h3 class="resources-title">Example Models</h3>
                <div class="example-models">
                    {% set journeys = craft.entries()
                        .section('journey')
                        .orderBy({'journeyTitle': SORT_ASC})
                        .all() %}
                    {% for journey in journeys %}
                        <div class="example-model">
                            <h3 class="example-journey-title">{{ journey.journeyTitle }}</h3>
                            <a class="journey-button-blue" href="/dashboard/examples/?journeyId={{ journey.id }}" class="journey-button">Example Models</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {# JOURNEY EXAMPLES #}
            {% elseif journeyId and not exampleId %}
            {% set journey = craft.entries()
                .section("journey")
                .id(journeyId)
                .one() %}
            <div class="example-journey">
                <div class="journey-header">
                    <h3 class="resources-title">Example Models</h3>
                    <div>{{ journey.journeyExamples|length }} example model(s) exist for this unit</div>
                </div>
                <div class="examples">
                    {% for example in journey.journeyExamples.all() %}
                        <div class="example">
                            <div>{{ example.exampleTitle }}</div>
                            <a class="journey-button-blue" href="/dashboard/examples/?journeyId={{ journey.id }}&exampleId={{ example.id }}">Open Model</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {# MODEL PAGE #}
            {% elseif journeyId and exampleId %}
                <noscript>
                    <strong>We're sorry but a2s-netlogo doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
                </noscript>
                <div id="app"></div>
                <script src="/netlogo/chunk-vendors.bundle.js"></script>
                <script src="/netlogo/app.bundle.js"></script>
            {% endif %}
            {% include "netlogo/footer.twig" %}
        </div>
    </body>
</html>